@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Raleway:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins:wght@300&family=Raleway:ital,wght@1,300&display=swap");
html,
body,
header {
  height: 100vh;
  scroll-behavior: smooth;
}

.view {
  height: 100vh;
  background: url(images/bg.webp) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.cont {
  background: url(images/ShinyOverlay.svg);
  background-size: cover;
}
.name {
  font-family: "Gochi Hand", cursive;
}
#quoteOne {
  font-family: "Gochi Hand", cursive;
}

.intro {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
  font-family: "Poppins", sans-serif;
}

.logo-header {
  font-size: 2rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
