@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Raleway:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins:wght@300&family=Raleway:ital,wght@1,300&display=swap");
html,
body,
header {
  height: 100vh;
  scroll-behavior: smooth;
}

.view {
  height: 100vh;
  background: url(images/bg.webp) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.cont {
  background: url(images/ShinyOverlay.svg);
  background-size: cover;
}
.name {
  font-family: "Gochi Hand", cursive;
}
#quoteOne {
  font-family: "Gochi Hand", cursive;
}
.loader{
 z-index: 1;
}
.intro {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
  font-family: "Poppins", sans-serif;
}

.logo-header {
  font-size: 2rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: #ffffff;
  background: #161616;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: center;
}

.flex_ {
  min-height: 60pt;
}

@keyframes loading {
  0% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
  25% {
    height: 4pt;
    margin-top: 23pt;
  }
  50% {
    width: 4pt;
  }
  75% {
    width: 50pt;
  }
  100% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
}

.load {
  width: 50pt;
  height: 50pt;
  border-radius: 100%;
  border: #6767fa 4pt solid;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  animation: loading 1s infinite;
}

.load-text {
  padding-top: 15px;
  text-align: center;
  font: 14pt "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: lighten(#6767fa, 75%);
}
